.order-manage-page table{
    margin: auto;
    width: 100%;
}
.order-manage-page table, th, tr, td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
.order-manage-page table th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
.order-manage-page table th{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 50px;
}
table a{
    color: rgb(3, 165, 206);
}